$font-color:#888;
$border-color:#ccc;
$centralizer:88%;

*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    line-height: 33px;
    border:1px solid $border-color;
    background: linear-gradient(to bottom,#fff,#eee);
    color:$font-color;
    font-size: 12px;
    a{
        color:$font-color;
        &:hover{
            color:$font-color;
            text-decoration: underline;
        } 
    }
    #head-wrap{
        width: $centralizer;
        height: 33px;
        margin:0 auto;
        overflow: hidden;
        #head-l{
            float: left;
            width: 20%;
            height: 33px;
            span{
                margin-right: 5px;
                color:green;
                #citySelect{
                    width: 50px;
                    height: 13px;
                    border:none;
                    color:green;
                    cursor: pointer;
                    &:hover{
                        border-bottom: 1px solid $font-color;
                    }
                }
            }
        }
        #head-r{
            float: right;
            width: 42%;
            line-height: 33px;
            li{
                float: left;
                a{
                    padding: 0 10px;
                    border-right: 1px solid $border-color;
                }
            }
        }
    }
}

nav{
    width: $centralizer;
    margin: 0 auto;
    #nav-ul{
        float: right;
        margin-top:20px;
        position: relative;
        img{
            position: absolute;
            top:-2px;
            left: 75px;
        }
        li{
            float: left;
            display: block;
            width: 100px;
            text-align: center;
            a{
                display: block;
                line-height: 40px;
                color:$font-color;
                &:hover{
                    background: #eee;
                    text-decoration: none;
                }
            }
        }
    }
}

#carousel{
    width: $centralizer;
    height: 340px;
    margin:0 auto;
    margin-top: 10px;
    position: relative;
    .swiper-container{
        width: 100%;
        height:100%;
        .swiper-pagination{
            bottom:10px;
            text-align: right;
            z-index: 1;
        }
    }
    #left{
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 5;
        li{
            height: 25%;
            width: 235px;
            background-color: black;
            border-bottom: 1px solid #fff;
            overflow: hidden;
            cursor: pointer;
            opacity: 0.8;
            position: relative;
            span{
                margin-left: 100px;
                line-height: 80px;
                color:#fff;
                    .to{
                        width:0; 
                        height:0; 
                        border-top:7px solid transparent;
                        border-bottom:7px solid transparent;
                        border-right:10px solid #fff;
                        position: absolute;
                        right: -1px;
                        top: 30px;
                        display: none;
                    }
                }
            }
            li:nth-child(1){
                background-image: url(/images/ipo.png);
                background-position-y: -10px;
            }
            li:nth-child(3){
                background-image: url(/images/ipo.png);
                background-position-y: -110px;
            }
            li:nth-child(5){
                background-image: url(/images/ipo.png);
                background-position-y: -210px;
            }
            li:nth-child(7){
                background-image: url(/images/ipo.png);
                background-position-y: -310px;
            }
            div:nth-child(6){
                height: 400px;
            }
            .left-0{
                width:700px;
                height: 100%;
                background: #eee;
                position: absolute;
                top:0;
                left:100%;
                font-size: 13px;
                display: none;
                border:1px solid #118855;
            }
            #left-1 {
                height: 433px;
                z-index: 90;
                p{
                    line-height: 35px;
                    span{
                        display: inline-block;
                        width: 150px;
                        text-align: right;
                        margin-right: 10px;
                    }
                    a{
                        padding:0 10px;
                        border-left:1px solid $border-color;
                        color:black;
                        &:hover{
                            color:#118855;
                            text-decoration: none;
                        }
                    }
                }
            }
            
            #left-2{
                padding-top:35px;
                span{
                    float: left;
                    width: 15%;
                    padding-top:15px;
                    text-align: center;
                    clear: left;
                }
                div{
                    float: left;
                    width: 85%;
                    a{
                        float: left;
                        width: 120px;
                        line-height: 40px;
                        text-align: center;
                        border:1px solid $border-color;
                        margin-bottom:20px;
                        margin-right: 20px;
                        color:black;
                        &:hover{
                            color:#118855;
                            border:1px solid #118855;
                            text-decoration: none;
                        }
                    }
                }
            }
            .left-3{
                padding-top:20px;
                padding-left:20px;
                a{
                    float: left;
                    width: 115px;
                    line-height: 40px;
                    text-align: center;
                    border:1px solid $border-color;
                    margin-bottom:20px;
                    margin-right: 20px;
                    color:black;
                    &:hover{
                        color:#118855;
                        border:1px solid #118855;
                        text-decoration: none;
                    }
                }
            }
            .left-0{
                border-left:none;
            }
        }
    }
#wr{
    width: 100%;
    background: #eee;
    overflow: hidden;
    #wrap{
        width: $centralizer;
        margin:0 auto;
        #imgs{
            overflow: hidden;
            img{
                width: 25%;
                float: left;
            }
        }
        .recycle{
            overflow: hidden;
            margin-top:30px;
            margin-bottom:10px;
            color:$font-color;
            h2{
                float: left;
                margin-top: 10px;
            }
            div{
                width: 100px;
                float: right;
                cursor: pointer;
                margin-top: 20px;
                p{
                    display: inline-block;
                    font-size: 13px;
                    &:hover{
                        border-bottom:1px solid dimgray;
                    }
                }
                span{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    border-radius: 20px;
                    background: $border-color;
                    color:#fff;
                }
            }
        }
        .recys{
            width: 100%;
            background: #fff;
            overflow: hidden;
            li{
                height: 300px;
                width: 16.6666%;
                float: left;
                text-align: center;
                cursor: pointer;
                img{
                    width: 80px;
                    margin-top: 55px;
                }
                a{
                    img{
                        margin:0;
                        width:100%;
                    }
                }
                p{
                    color:orangered;
                }
            }
        }
        #service{
           margin-top:30px;
           color:$font-color;
        }
    }
}


#storeList_s{
    width: $centralizer;
    margin:0 auto;
    margin-top:20px;
    overflow: hidden;
    #seek{
        width: 100%;
        overflow: hidden;
        span{
            display: block;
            width: 140px;
            float: left;
            line-height: 40px;
            text-indent: 20px;
            margin-right: 10px;
            border:1px solid green;
            cursor: pointer;
        }
        div{
            width: 590px;
            height: 40px;
            border:1px solid green;
            overflow: hidden;
            float: left;
            input{
                width: 470px;
                height: 100%;
                border:none;
                float: left;
                text-indent: 10px;
            }
            div{
                width: 118px;
                line-height: 40px;
                text-align: center;
                background: green;
                color:#fff;
                float: left;
                cursor: pointer;
            }
        }
    }
    #sort{
        width:75%;
        height: 40px;
        overflow: hidden;
        background: #f7f7f7;
        border:1px solid $border-color;
        margin-top: 20px;
        float: left;
        li{
            float: left;
            width: 120px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
        }
        span{
            line-height: 40px;
        }
        div{
            float: right;
            margin-right:10px;
            width: 100px;
            line-height: 27px;
            text-align: center;
            margin-top:5px;
            background: #fff;
            border:1px solid $border-color;
            font-size: 14px;
            cursor: pointer;
            i{
                font-size: 24px;
                color:orange;
            }
        }
    }
    #good{
        width: 270px;
        height: 690px;
        float: right;
        margin-top: 20px;
        border:1px solid $border-color;
        h4{
            line-height: 40px;
            text-align: center;
            background: #f7f7f7;
            margin:0;
        }
        li{
           width: 100%;
           height: 90px; 
           padding:23px 10px;
           border-top: 1px solid $border-color;
           span{
               float: left;
               font-size: 28px;
               color:$font-color;
           }
           .num{
               color:orange;
           }
           img{
               width: 50px;
               margin-left: 20px;
               float: left;
           }
           div{
               float: left;
               margin-left: 5px;
           }
        }
    }
    
    #storeList{
        width: 75%;
        float: left;
        dl{
            width: 100%;
            padding:20px 0;
            margin:0;
            overflow: hidden;
            color:$font-color;
            border-bottom:1px solid $border-color;
            &:hover{
                background: #eee;
            }
            dt{
                width: 90px;
                height: 90px;
                border:1px solid $border-color;
                float: left;
                img{
                    width: 100%;
                }
            }
            dd{
                width: 400px;
                margin-left: 10px;
                float: left;
                p{
                    width: 100%;
                    white-space:nowrap; 
                    overflow:hidden; 
                    text-overflow:ellipsis;
                    a{
                        color:green;
                        margin-right: 10px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            div{
                width: 140px;
                float: left;
                margin-left: 50px;
            }
            .access{
                width: 140px;
                line-height: 40px;
                text-align: center;
                float: left;
                border:1px solid green;
                color:green;
                background: #fff;
                margin-top: 20px;
                cursor: pointer;
                display: none;
            }
        }
        dl:nth-child(5){
            border:none;
            margin:0;
        }
    }
}
#paging{
    width: $centralizer;
    margin:5px auto;
    padding-left: 120px;
    overflow: hidden;
    font-size: 16px;
    div{
        float: left;
        width: 100px;
        line-height: 45px;
        text-align: center;
        border:1px solid $border-color;
        color:$font-color;
        margin-right: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    li{
        line-height: 45px;
        width: 45px;
        text-align: center;
        float: left;
        border:1px solid $border-color;
        color:$font-color;
        margin-right: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    div:nth-child(1){
        display: none;
    }
    .at{
        background: orangered;
        color:#fff;
    }
}


footer{
    width: 100%;
    height: 290px;
    margin-top:80px;
    background: #F5F5F5;
    border-top:1px solid $border-color;
    color:$font-color;
    #footer-1{
        width:70%;
        height: 155px;
        margin:0 auto;
        padding:20px 0;
        border-bottom:1px solid $border-color;
        dl{
            width:150px;
            float: left;
            margin-right: 45px;
            dt{
                font-size: 16px;
            }
            dd{
                text-align: left;
                margin-left: 45px;
                a{
                    line-height: 25px;
                    color:$font-color;
                    font-size: 11px;
                }
            }
        }
        dl:nth-child(5){
            margin:0;
        }
    }
    #footer-2{
        width: 100%;
        margin-top:20px;
        font-size: 11px;
        text-align: center;
        a{
            margin-left: 35px;
            color:$font-color;
        }
    }
    
}
